@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100);

body,html{height: 100%;}
body
{
	background: transparent;
	margin: 0;
	padding: 0;
	min-height: 100%;
	color: #FFF;
}

h1,p,ul{padding:0;margin:0;}

a{color: #A3FFFF;text-decoration:none;}
a:hover{text-decoration:underline;}

label{display:block;}
ul{list-style-type: none;}

.wrapper
{
	position:relative;
	height: 100%;
	width: 100%;
}

.logo
{
	color: white;
	text-align: center;
	padding:20px 0;
	text-shadow: 0px 0px 6px rgb(93,152,192);
}

.logo h1{font-size: 250%;font-family: "Open Sans" ,sans-serif;}
.logo p {font-family: "Lato", sans-serif;}

#status
{
	width:100%;
	font-family: "Lato", sans-serif;
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	position:absolute;
	top:50%;
}

#footer
{
	width:100%;
	background: rgb(93,152,192);
	text-align: right;
	overflow: hidden;
	font-family: "Lato" , sans-serif;
}

#footer p{padding: 20px;}

.icon-move-down
{
	position:absolute;
	z-index: 2;
	bottom:-1px;
	left: 50%;
	margin-left: -24px;
	
	display: block;
	width: 48px;
	
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	
	background: rgb(93,152,192);
	
	border: 1px solid #FFF;
	border-bottom: 0;
	border-top-left-radius: 48px;
	border-top-right-radius: 48px;
	
	cursor:pointer;
}

.hashlist
{
	font-family: "Lato" , sans-serif;
}

@media (max-width: 980px), (max-height:540px)
{
	.group-2
	{
		position:absolute;
		top:100%;
		width: 100%;
		overflow: hidden;
	}

	.hashlist
	{
		width: 100%;
		overflow:hidden;
		background: rgb(93,152,192);
		border-top: 1px solid #FFF;
		padding-bottom:60px;
	}
	
	.hashlist ul
	{
		text-align: center;
		font-size: 1.2em;
	}
}

@media (min-width: 981px) and (min-height:541px)
{ 
	.hashlist
	{
		position:absolute;
		top:50%;
		margin-top:-250px;
		margin-left: 20px;
		
		background: rgba(127, 140, 141,0.4);
		
		box-shadow: 0px 0px 5px rgb(93,152,192);
		border: 1px solid #FFF;
		border-radius: 5px;
		
		height: 500px;
		width: 250px;
	}
	
	.hashlist ul{padding-left: 20px;}
	
	#footer
	{
		position:absolute;
		top:100%;
		width: 100%;
		border-top: 1px solid #FFF;
	}
}

.hashlist a{color:#000;}

#instabubbles
{
	font-family: "Lato" , sans-serif;
	font-weight: 100;
}

#instabubbles a{font-weight: 400;}

.hashlist h2
{
	text-align: center;
	color: white;
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-size: 30px;
	text-decoration: underline;
}

form div{text-align: center;}
form div:last-child{margin-top:20px;}

input
{
	font-size:25px;
	font-family: Lato, sans-serif;
	font-weight: 100;
	text-align: center;	
	outline: 0;
	box-shadow: 0;
	background: transparent;
	color: #FFF;
	text-shadow: 0px 0px 6px rgb(93,152,192);
}

input[type='text']
{
	border: 0;
	border-bottom: 1px solid #FFF;
}

input[type='submit'], input[type='button']
{
	font-family: "Open Sans" ,	sans-serif;
	border: 1px solid #FFF;
	box-shadow: 0px 0px 5px rgb(93,152,192);
	color: #FFF;
	padding: 0 20px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

input[type='submit']:hover, input[type='button']:hover
{
	color: rgba(93,152,192,0.9);
	text-shadow: none;
}

input[type='submit']:active, input[type='button']:active
{
	padding: 0 20px;
	background: rgba(93,152,192,0.9);
	color: #FFF;
	text-shadow: none;
}

input::-moz-placeholder{color: #FFF;text-shadow: 0px 0px 4px rgb(93,152,192);}
input::-webkit-input-placeholder{color: #FFF;text-shadow: 0px 0px 4px rgb(93,152,192);}

input:hover::-moz-placeholder{color:transparent;text-shadow: none;}
input:hover::-webkit-input-placeholder{color: transparent;text-shadow: none;}

input:focus::-webkit-input-placeholder {color:transparent;text-shadow: none;}
input:focus::-moz-placeholder {color:transparent;text-shadow: none;}


#instabubblesCanvas
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background: url("../img/background.jpg");
	background-size: cover;
}